h1 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120px;
    color: #6d8140;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    justify-content: center;
}
@media (max-width: 320px) {
h1 {
     display: flex;
     font-size: 60px;
     justify-content: center;
}
   
}